@font-face {
    font-family: "Google Sans Medium";
    src: url(../fonts/GoogleSans-Medium.ttf)    
}
 
@font-face {
    font-family: "Fontello";
    src: url(../fonts/fontello.ttf)    
}
 

span {
    font-size: 18px;
    line-height: 21px;
 
    color: #979FAD;
} 


.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Google Sans Medium";
    margin: auto;
    max-width: 1100px;
     
}

.header {
    height: 36px;
    background: #F2F2F2;
    display: flex;
    justify-content: flex-end;
    max-width: 1100px;
     
    

     
}

.header_item {
    height: 18px;
    font-family: "Google Sans Medium";
    font-size: 14px;
    line-height: 16px;
    margin : 10px;
    color: #4F4F4F;
    
}

.nav {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    background: #FFFFFF;
    border: 1px solid #E8E8EE;
    max-width: 1100px;
     
}

.search {
    width: 60%;
    max-width: 651px;
    height: 44px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #FCFCFC;
    border: 1px solid #E8E8EE;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 16px;

    color: #828282;
}


.search_container {
    display:flex;
    justify-content: space-between;
    align-items: center;
     
}

.search_stick {
    height: 30px;
    width: 0px;
    border: 1px solid #BDBDBD;
    margin: 0 40px;
}


.menu {
    width: 26px;
    height: 19px;
    background-image: url(../images/menu.png);
    margin : 20px;
     
}

 

button {
    width: 218px;
    height: 44px;
    font-family: "Google Sans Medium";
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: linear-gradient(245.23deg, #32228A -43.18%, #745ACD 100%), #C4C4C4;
    border-radius: 3px;
     
}

 

.pics {
     
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 340px;
    max-width: 1100px;
    
     
}


.picture {
    width: 357.88px;
    height: 169px;
}

.car {
    background-image: url(../images/car.png);
}

.phone {
    background-image: url(../images/phone.png);
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    max-width: 1100px;
}

.sort_container {
    display: flex;
    justify-content: space-between;
     
}

.sort_type {
    font-size: 18px;
    line-height: 21px;
    margin: 5px;

    color: #333333;
}


.list {
    font-size: 24px;
    line-height: 28px;

    color: #333333;
}

 

.chairs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1100px;
     
}

.chair_item {
    background-image: url(../images/chair.png);
    width: 252px;
    height: 399px;
    border: 1px solid #E8E8EE;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 10px  
}





.sort_type_mobile_currency:after {
    content: '\f15a';
    font-family: "Fontello";
    margin: 0 -100px;
}

.sort_type_mobile_direction:after {
    content: '\f0dc';
    font-family: "Fontello";
    margin: 0 -60px;
}

.desktop , .mobile {
    display:none;
}



@media   (max-width: 749px)   {
    .mobile {
        display: flex;
    }
     
}

@media   (min-width: 750px)   {
    .desktop {
        display: flex;
    }

}

/*@media (min-width: 1100px) {
    .chairs {
        max-width: 1100px;
    }
}