@font-face {
    font-family: "Google Sans Medium";
    src: url(../fonts/GoogleSans-Medium.ttf)    
}
 
@font-face {
    font-family: "Fontello";
    src: url(../fonts/fontello.ttf)    
}

@media   (max-width: 749px)   {
    .mobile {
        display: flex;
    }
     
}

@media   (min-width: 750px) and (max-width: 1300px) {
    .desktop {
        display:flex;
    }

}

span {
    font-size: 18px;
    line-height: 21px;
 
    color: #979FAD;
} 


.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Google Sans Medium";
     
}

.header {
    height: 36px;
    background: #F2F2F2;
    display: flex;
    justify-content: flex-end;
     
    

     
}

.header_item {
    height: 18px;
    font-family: "Google Sans Medium";
    font-size: 14px;
    line-height: 16px;
    margin : 10px;
    color: #4F4F4F;
    
}

.nav {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
    background: #FFFFFF;
    border: 1px solid #E8E8EE;
     
     
}

.search {
    width: 651px;
    height: 44px;
 

    background: #FCFCFC;
    border: 1px solid #E8E8EE;
    box-sizing: border-box;
    border-radius: 3px;
}


.menu {
    width: 26px;
    height: 19px;
    background-image: url(../images/menu.png);
    margin : 20px;
     
}

 

button {
    width: 218px;
    height: 44px;
    font-family: "Google Sans Medium";
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: linear-gradient(245.23deg, #32228A -43.18%, #745ACD 100%), #C4C4C4;
    border-radius: 3px;
     
}

 

.pics {
     
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 340px;
    
     
}


.picture {
    width: 357.88px;
    height: 169px;
}

.car {
    background-image: url(../images/car.png);
}

.phone {
    background-image: url(../images/phone.png);
}

.sort {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.sort_container {
     
    justify-content: space-between;
     
}

.sort_type {
    font-size: 18px;
    line-height: 21px;
    margin: 5px;

    color: #333333;
}


.list {
    font-size: 24px;
    line-height: 28px;

    color: #333333;
}

.chairs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid rgb(6, 7, 77);
     
}

.chair_item {
    background-image: url(../images/chair.png);
    width: 252px;
    height: 399px;
    border: 1px solid #E8E8EE;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 10px  
}

.mobile {
    width: 50px;
}



.sort_type_mobile_currency:after {
    content: '\f15a';
    font-family: "Fontello";
    margin: 0 -80px;
}

.sort_type_mobile_direction:after {
    content: '\f0dc';
    font-family: "Fontello";
    margin: 0 -70px;
}

.desktop , .mobile {
    display:none;
}