@font-face {
    font-family: "Fontello";
    src: url(../fonts/fontello.woff)
}

@keyframes rotating {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
  }

body {
    padding: 40px;
    font-family: "Fontello";
}

.time {
     

    font-size: 30px;
    border: 1px solid;
    width: 120px;
    
    padding: 0 5px;
    font-weight: 900;
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    
}


 


.spin {
    position: absolute;
    left: 130px;
    font-size: 24px;
    font-weight: 100;
     
    display: none;
    animation: rotating 2s linear infinite  ;
    
     
}

.spin:after{
    content: '\e832';
    font-family: "Fontello";
}


.play {
    position:relative;
    top: 36px;
    left: 6px;
    font-size: 12px;
    width: 54px;
    height: 26px;
    background-color: white;
     
     
}


.play:after {
    content: '\e800';
    font-family: "Fontello";
}



.play:active ~ .spin {
    display: block;
}

 