@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

html {
    background-color: rgb(35, 92, 119);
    z-index:-20;
}

.sky {
    position: absolute;
    width: 100%;
    height: 465px;
    background-color: rgb(153, 211, 238);
    border-bottom: 3px solid rgb(221, 230, 243);
    z-index: -1;
} 

.sea {
    position: absolute;
    width: 100%;
    height: 310px;
    top: 469px;
    background-color: rgb(35, 92, 119);
    border-top: 10px solid rgb(59, 123, 202);
}



img {
    display:inline-block;
    position: absolute;
}

span {
      display: block;
      font-family: 'Manrope', sans-serif; 
      color : rgb(84, 149, 179);
}
.cloud1 {
    left: 144px;
}

.cloud2 {
    left: 526px;
}

.ice  {
    top: 279px;
    left: 339px;
    z-index: 3;
     
}

.ship {
    top: 65%;
    left: 32%;
    z-index: 3;
}

 

.content {
    position:absolute;
    top: 15%;
    text-align: center;
    width:100%;
    line-height: 3em;
     
}

.title {
    position: relative;
    font-size: 66px;
    color: white;
    text-shadow: 2px 4px rgb(84, 149, 179);
    letter-spacing: 4px;
    left: 23px;
    top: -4px;
}

.email {
    background: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(224, 224, 224) );
    border-radius: 5px;
    color: black;
    border: 0px;
    width: 239px;
    height: 36px;
    position: relative;
    top: 10px;
    left: 10px;
 }

 .sub {
    line-height: 53px;
    position: relative;
    left: 6px;
    top: 7px;
    font-size: 13px;
    
 }
 button {
    background: linear-gradient(to bottom, rgb(247, 206, 130) , rgb(247, 175, 42) );
    position: relative;
    top: 6px;
    left: 16px;
    width: 93px;
    height: 35px;
    border-radius: 5px;
    vertical-align: middle;
    font-weight: 600;
    color: white;
    border: 0px;
    box-shadow: 2px 2px rgb(243, 188, 68) inset;
    letter-spacing: -1px;
 }



 .frame {
    position: relative; 
    width: 980px;
    height: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }


 .days , .hours , .mins {
    border-radius: 50%;
    background-color: rgb(177, 177, 197);
    color: rgb(62, 62, 112);
    display: inline-block;
    width: 71px;
    height: 71px;
    margin-left: 37px;
    text-align: center;
    line-height: 71px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;

 }

 .date {
    color: white;
    margin-top: -17px;
    letter-spacing: -1px;
 }

 .counter {
    position: absolute;
    top: 530px;
    left: 319px;
    z-index: 10;
     
     
 }