@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

html {
    background-color: rgb(35, 92, 119);
    z-index:-20;
}

.sky {
    position: absolute;
    width: 100%;
    height: 469px;
    background-color: rgb(153, 211, 238);
    border-bottom: 3px solid rgb(221, 230, 243);
    z-index: -1;
} 

.sea {
    position: absolute;
    width: 100%;
    height: 310px;
    top: 472px;
    background-color: rgb(35, 92, 119);
    border-top: 10px solid rgb(59, 123, 202);
}



img {
    display:inline-block;
    position: absolute;
}

span {
      display: block;
      font-family: 'Manrope', sans-serif; 
      color : rgb(84, 149, 179);
}
.cloud1 {
    left: 12%;
    background-size: 220px;
}

.cloud2 {
    left: 55%;
}

.ice  {
    top: 40%;
    left: 35%;
    z-index: 3;
}

.ship {
    top: 65%;
    left: 32%;
    z-index: 3;
}

 

.content {
    position:absolute;
    top: 15%;
    text-align: center;
    width:100%;
    line-height: 3em;
     
}

.title {
    font-size: 5em;
    color : white;
    text-shadow: 2px 4px rgb(84, 149, 179);
}

.email {
     background: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(224, 224, 224) );
     border-radius: 5px;
     color: black;
     border : 0px;
       
     width: 25%;
      height: 40px;
 }

 .sub {
    line-height: 4em;
    
 }
 button {
     background: linear-gradient(to bottom, rgb(247, 206, 130) , rgb(247, 175, 42) );
     position: relative;
     top: -2px;
     left: 10px;
     width: 10%;
     height: 40px;
     border-radius: 5px;
     vertical-align: middle;
     font-weight: 600;
     color: white;
     border : 0px;
     box-shadow: 2px 2px  rgb(243, 188, 68) inset;
 }



 .frame {
    position: relative; 
    width: 980px;
    height: 700px;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }


 .days , .hours , .mins {
     border-radius: 50%;
     background-color: rgb(177, 177, 197);
     color: rgb(62, 62, 112);
     display: inline-block;
     width: 80px;
     height: 80px;
     margin: 10px;
     text-align: center;
     line-height: 3.4em;
     font-size: 1.5em;
     font-weight: 700;
     letter-spacing: 0.1em;

 }

 .date {
     color: white;
    margin-top: -10px;
    letter-spacing: 0em;
 }

 .counter {
    position: absolute;
    top: 73%;
    left: 36%;
    z-index: 10;
     
 }