main {
  border: 1px solid green;
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 2fr 4fr;
      grid-template-columns: 3fr 3fr 2fr 4fr;
  -ms-grid-rows: 60px  200px 100px 40px 150px 60px;
      grid-template-rows: 60px  200px 100px 40px 150px 60px;
      grid-template-areas: "lg lg lg ab" "as c1 c1 c1" "as c2 c2 c2" "c3 c3 c3 c3" "c4 c4 c4 c4" "ft ft ft ft";
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: lg;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: ab;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside {
  padding: 5px 15px 0px 10px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: as;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "lr1 lr1  . . " "lr1 lr1  lr2 lr2 " "lr3 lr3  lr2 lr2 " "lr3 lr3  lr4 lr4 " ".   .    lr4 lr4 ";
  border: 2px solid red;
  gap: 50px 5px;
  overflow-y: scroll;
}

aside * {
  border: 2px solid blue;
  overflow: hidden;
  height: 120px;
}

.content1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: c1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "lr5 lr5 lr5 lr5 lr5 lr5 lr5 lr5 lr5 . . . . . . ." ". . .   .  . .   . lr6 lr6 lr6 lr6 lr6 lr6 lr6 lr6 lr6";
  padding: 3px 0;
  border: 2px solid red;
  gap: 5px 5px;
}

.content1 * {
  border: 2px solid blue;
  overflow: hidden;
}

.content2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: c2;
  background-image: url(../images/flowers.jpg);
}

.content3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: c3;
  overflow-y: scroll;
  width: calc(100%-10px);
  padding: 5px;
}

.content4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: c4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "lr7 lr8";
  border: 2px solid red;
  gap: 5px;
  overflow: hidden;
}

.content4 * {
  border: 2px solid blue;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: ft;
  background-image: url(../images/hills.jpg);
}

.lorem1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: lr1;
}

.lorem2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: lr2;
}

.lorem3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: lr3;
}

.lorem4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: lr4;
}

.lorem5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: lr5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lorem5 .pic {
  background-image: url(../images/cat1.jpg);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.lorem6 {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 9;
  grid-area: lr6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lorem6 .pic {
  background-image: url(../images/cat2.jpg);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.text {
  overflow: hidden;
  width: 70%;
}

.pic {
  margin: 5px 5px;
  width: 83px;
  height: 83px;
  border-radius: 100%;
}

.lorem7 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lr7;
}

.lorem8 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lr8;
}

@media (max-width: 400px) {
  .content3 {
    display: none;
  }
  .content1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "lr5" "lr6";
  }
  .content4 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "lr7" "lr8";
  }
  main {
    -ms-grid-columns: 4fr 1fr 5fr;
        grid-template-columns: 4fr 1fr 5fr;
    -ms-grid-rows: 25px  35px 200px 80px 250px 60px;
        grid-template-rows: 25px  35px 200px 80px 250px 60px;
        grid-template-areas: "lg lg lg " "ab ab ab " "as c1 c1 " "as c2 c2 " "c4 c4 c4 " "ft ft ft ";
  }
}
/*# sourceMappingURL=main.css.map */