main {
    border: 1px solid green;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 4fr ;
    grid-template-rows: 60px  200px 100px 40px 150px 60px;
    grid-template-areas: 
    "lg lg lg ab"
    "as c1 c1 c1"
    "as c2 c2 c2"
    "c3 c3 c3 c3"
    "c4 c4 c4 c4"
    "ft ft ft ft";
}

 

.logo {
    grid-area: lg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    grid-area: ab;
    padding: 0 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

aside {
    
    padding: 5px 15px 0px 10px;
    grid-area: as;
    display:grid;
    grid-template-columns: repeat(4, 1fr)  ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "lr1 lr1  . . "
    "lr1 lr1  lr2 lr2 "
    "lr3 lr3  lr2 lr2 "
    "lr3 lr3  lr4 lr4 "
    ".   .    lr4 lr4 "  ;
    border: 2px solid red;
    gap: 50px 5px  ;
    overflow-y:scroll;
     
}

aside * {
    border: 2px solid blue;
    overflow: hidden;
    height: 120px;
}

.content1 {
    grid-area: c1;
    display:grid;
    grid-template-columns: repeat(16, 1fr) ;
    grid-template-rows: 1fr 1fr  ;
    grid-template-areas: 
    "lr5 lr5 lr5 lr5 lr5 lr5 lr5 lr5 lr5 . . . . . . ."
    ". . .   .  . .   . lr6 lr6 lr6 lr6 lr6 lr6 lr6 lr6 lr6";
    padding: 3px 0;
    border: 2px solid red;
    gap: 5px 5px;
    
}

.content1  * {
    border: 2px solid blue;
    overflow: hidden;
}



.content2 {
    grid-area: c2;
    background-image: url(../images/flowers.jpg)
}

.content3 {
    grid-area: c3;
    overflow-y: scroll;
    width:calc(100%-10px);
    padding: 5px ;
}




.content4 {
    grid-area: c4;
    display:grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr  ;
    grid-template-areas: 
    "lr7 lr8"  ;
    border: 2px solid red;
    gap: 5px;
    overflow: hidden;
}

.content4 * {
    border: 2px solid blue;
}

footer {
    grid-area: ft;
    background-image: url(../images/hills.jpg)

}

.lorem1 {
    grid-area: lr1;
}

.lorem2 {
    grid-area: lr2;
}

.lorem3 {
    grid-area: lr3;
}

.lorem4 {
    grid-area: lr4;
}

.lorem5 {
    grid-area: lr5;
    display:flex;
    justify-content: space-between;
     
    .pic {
        background-image: url(../images/cat1.jpg);
        align-self: center;
    }
}

 

.lorem6 {
    grid-area: lr6;
    display:flex;
    justify-content: space-between;
    .pic {
        background-image: url(../images/cat2.jpg);
        align-self: center;
    }
}

 

.text {
    overflow: hidden;
    width: 70%;
}

.pic {
    margin: 5px 5px;
    width: 83px;
    height: 83px;
    border-radius: 100%;
     
     
}

.lorem7 {
    grid-area: lr7;
}

.lorem8 {
    grid-area: lr8;
}



@media (max-width:400px) {
    
    .content3 {
        display:none;
    }

    .content1  {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr  ;
        grid-template-areas: 
        "lr5"
        "lr6";
    }

    .content4 {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr  ;
        grid-template-areas: 
        "lr7"
        "lr8";   
    }

    main {    
   
        grid-template-columns: 4fr 1fr 5fr   ;
        grid-template-rows: 25px  35px 200px 80px 250px 60px;
        grid-template-areas: 
        "lg lg lg "
        "ab ab ab "
        "as c1 c1 "
        "as c2 c2 "
        "c4 c4 c4 "
        "ft ft ft ";
    }

   

}