
 button {
     width: 120px;
     height: 45px;
     border:2px solid;
     border-radius: 5px;
     
     box-shadow: 0px  10px 15px #6bd6a6;
     font-size: 16px;
     font-weight: 700;
    background: linear-gradient( #f8890d , #5b2023, #f8890d );

 }
 button:active {

    color: #c8e425;
    background: linear-gradient( #0eecbf , #030d21 , #0eecbf);
    box-shadow: 0 0 
 }